:root {
    --color-main: #F5A623;
    --color-bkg: #2E2E2E;
    --color-index: #C8C8C8;
    --color-cmds: #9B59B6;
    --color-F5A623-error: #F5A623;
    --color-fff: #fff;
    --color-errorandlink: #e74d5a;
    --color-hoverove: #3498DB;
    --color-lingBG: #000;
    --color-linertext: #f5e723;
}

.hidden {
  display: none;
}



body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: var(--color-main);
    background: var(--color-bkg);
    font-family:cursor, courier, monospace, monospace, courier;
    overflow-x: hidden;
  }
  ::selection {
    color: var(--color-bkg);
    background-color: var(--color-main);
  }
  ::-moz-selection {
    color: var(--color-bkg);
    background-color: var(--color-main);
  }
  textarea {
    left: -1000px;
    position: absolute;
  }
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Cursor Start */
  .cursor {
    font-size: 12px;
    color: var(--color-main);
    background-color: var(--color-main);
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: var(--color-main);
  }
  
  #liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
    background-color: var(--color-lingBG);
    color: var(--color-linertext);
  }
  #liner::before {
    color: var(--color-main);
    content: "online@momo_port:~$";
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: var(--color-index);
  }
  .color2 {
    color: var(--color-main);
  }

   
  .command {
    color: var(--color-cmds);
    text-shadow: 0 0 5px var(--color-cmds); 
  }
  .error {
    color: var(--color-main);
  }
  .white {
    color: #fff;
  }
  .inherit,
  a {
    color: var(--color-errorandlink);
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: var(--color-hoverove);
    color: var(--color-bkg);
  }
  a:focus {
    outline: 0;
  }
