:root {
    --color-main: #F5A623;
    --color-bkg: #2E2E2E;
    --color-index: #C8C8C8;
    --color-cmds: #9B59B6;
    --color-F5A623-error: #F5A623;
    --color-fff: #fff;
    --color-errorandlink: #e74d5a;
    --color-hoverove: #3498DB;
    --color-lingBG: #000;
    --color-linertext: #f5e723;
}



.dark-theme{
    --color-main: #F5A623;
    --color-bkg: #2E2E2E;
    --color-index: #C8C8C8;
    --color-cmds: #9B59B6;
    --color-F5A623-error: #F5A623;
    --color-fff: #fff;
    --color-errorandlink: #e74d5a;
    --color-hoverove: #3498DB;
    --color-lingBG: #000;
    --color-linertext: #f5e723;
}

.light-theme {
    --color-main: #E67E22;
    --color-bkg: #eeeeee;
    --color-index: #2E2E2E;
    --color-cmds: #9B59B6;
    --color-F5A623-error: #E67E22;
    --color-fff: #fff;
    --color-errorandlink: #e74d5a;
    --color-hoverove: #3498DB;
    --color-lingBG: #b9b8b8;
    --color-linertext: #2E2E2E;
}
